name: CI-CD with Helm

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/myapp:latest app/

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/myapp:latest

      # --- START MINIKUBE HERE ---
      - name: Start Minikube
        uses: medyagh/setup-minikube@latest
        with:
          container-runtime: docker

      - name: Set up Helm
        uses: azure/setup-helm@v4

      - name: Deploy using Helm
        run: |
          helm upgrade --install myapp helm/myapp
